.rating {
  display: flex;
  gap: 10px;

  span {
    font-size: 24px;
    fill: #e3e3e3; 
  }

  .active {
    fill: #ff6060;
  }
}

@media (max-width: 768px) {
  .rating img {
    width: 15px;
  }
}