$error-color: #ff6060;

.error {
    min-height: calc(100vh - 400px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $error-color;

  h1 {
    font-size: 288px;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 36px;
    margin: 50px 0;
  }

  a {
    color: black;
    text-decoration: underline;
    margin-bottom: 50px;
    cursor: pointer;
  }
}