.logements {
  max-width: 1240px;
  margin: auto;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__info {
    h1 {
      color: #ff6060;
      font-size: 36px;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &__host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    .host {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        width: 80px;
        text-align: right;
        color: #ff6060;
      }

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  &__collapses {
    display: flex;
    gap: 50px;
    margin-top: 30px;
  }
}

@media (max-width: 768px) {

  .logements {
    padding: 20px;
  }

  .logements__top {
    flex-direction: column;
    gap: 15px;
  }

  .logements__info {

    h1 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
    }
  }

  .tags span {
    font-size: 10px;
    padding: 4px 15px;
  }

  .logements__host {
    flex-direction: row-reverse;
    align-items: center;
  }

  .host {

    p {
      font-size: 12px;
      width: 60px;
    }

    img {
      width: 32px;
      height: 32px;
    }
  }

  .logements__collapses {
    flex-direction: column;
    gap: 20px;
  }
}