.logements {
  max-width: 1240px;
  margin: auto;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__info {
    h1 {
      color: #ff6060;
      font-size: 36px;
      margin-bottom: 5px;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &__host {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    .host {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        width: 80px;
        text-align: right;
        color: #ff6060;
      }

      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  &__collapses {
    display: flex;
    gap: 50px;
    margin-top: 30px;
  }
}