.carousel {
  position: relative;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    font-size: 80px;
    cursor: pointer;
  }

  .left { left: 20px; }
  .right { right: 20px; }

  .counter {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }
}

@media (max-width: 768px) {

  .carousel {
    height: 255px;
  }

  .left,
  .right {
    font-size: 30px;
  }

  .counter {
    display: none;
  }
}