$primary-color: #ff6060;

.collapse {
    width: 100%;
    margin-bottom: 30px;

  &__header {
    width: 100%;
    background: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  .arrow {
    font-size: 24px;
    transition: transform 0.3s ease;

    &.open {
      transform: rotate(180deg);
    }
  }

  &__content {
    background: #f6f6f6;
    color: black;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    font-size: 18px;
  }
}