.about {
  max-width: 1240px;
  margin: auto;

  &__collapses {
    max-width: 1024px;
    margin: auto;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {

  .about {
    padding : 0 20px;
  }

    .about img {
      height: 111px;
  }
}