.card {
	position: relative;
	height: 340px;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0%,
			rgba(0, 0, 0, 0.5) 100%
		);
		z-index: 2;
		pointer-events: none;
	}

	&:hover img {
		transform: scale(1.05);
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all 0.25s ease-in-out;
	}

	h2 {
		position: absolute;
		bottom: 15px;
		left: 15px;
		color: white;
		font-size: 18px;
		z-index: 3;
	}
}
