.card {
    position: relative;
    height: 340px;
    border-radius: 10px;
    overflow: hidden;
}
.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card h2 {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 18px;
}
