.imgTitle {
    width: 1240px;
    object-fit: cover;
    max-height: 223px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 25px;
    opacity: 60%;
    position: relative;
}
