.container {
	position: relative;
	box-shadow: 0px 4px 4px 0px #00000040;
	border-radius: 25px;
	overflow: hidden;
  height: 223px;
	.imgTitle {
		width: 100%;
		object-fit: cover;
    height: 100%;
		position: relative;
	}
	h1 {
		position: absolute;
		z-index: 2;
		top: 24%;
		font-size: 48px;
    text-align: center;
    width: 100%;
	}
	&::before {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		mix-blend-mode: darken;
		opacity: 0.6;
		z-index: 1;
	}
}
